<section class="blog-header">
  <h1 class="blog-name"><span style= "font-family: 'Indie Flower', Impact, cursive;">under </span> <span style= "font-family: 'Kristi', Impact, cursive;">pressure</span></h1>
  <h2 class="blog-tagline">{{ site.blog_tagline }}</h2>
  <a href="https://carlsonkellie.github.io/under_pressure" class="btn">Home</a>
  <a href="https://carlsonkellie.github.io/about_under_pressure" class="btn">About This Blog</a>
  <a href="https://carlsonkellie.github.io/pressure_cooker_recipes" class="btn">Pressure Cooker Recipes</a>
</section>
