<section class="page-header">
  <a href="https://carlsonkellie.github.io" class="btn">Home</a>
  <a href="https://carlsonkellie.github.io/about_me" class="btn">About Me</a>
  <a href="https://carlsonkellie.github.io/projects" class="btn">Projects</a>
  <a href="https://carlsonkellie.github.io/publications" class="btn">Publications</a>
  <a href="https://carlsonkellie.github.io/activities" class="btn">Activities</a>
  <a href="https://carlsonkellie.github.io/contact" class="btn">Contact</a>
  <br> 
  <br> 
  <br> 
  <br>
  <h1 class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <h2 class="project-tagline2">{{ site.tagline2 }}</h2>
</section>
